<h1>Current Order</h1>
<% if session[:order].nil? || session[:order] == {} %>
  <p>No Items in the Order</p>
  <p><%= link_to "Add to Order", products_path, class: "button" %></p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% session[:order].each do |key, val| %>
        <% @product = Product.find_by(id: key.to_i) %>
        <% params[:id] = key %>
      <tr>
        <td><%= @product.name %></td>
        <td><%= @product.description %></td>
        <td>$<%= @product.price %></td>
          <%= form_tag('/order', method: :patch) do %>
            <td><%= number_field_tag 'quantity', "#{val}" %></td>
            <%= hidden_field_tag 'id', "#{key}" %>
            <td><%= button_tag "Update", class: "button" %></td>
          <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <p>Total: $<%= calculate_total.round(2) %></p>
  <span><%= link_to "Checkout", create_order_path, method: :post ,class: "button" %></span>
  <span><%= link_to "Clear Order", delete_order_path, method: :delete, data: { confirm: "Are you sure?" }, class: "button" %></span>
  <span><%= link_to "Continue Shopping", products_path, class: "button" %></span>
<% end %>
