<div class='merchant-profile'>
<h2>Merchant Profile</h2>


<section class="merchant">
  <p>Name: <%= @user.name %></p>
</section>
<section class="merchant">
  <p>Email: <%= @user.email %></p>
</section>
<section class='profile-buttons merchant'>
  <%= link_to "Edit Profile", edit_user_path(@user.id), class: "button" %>


  <%= link_to "My Orders", user_order_items_path(@user.id), class: "button" %>

  <%= link_to "My Products", user_products_path(@user.id), class: "button" %>
</section>

<section class="merchant-pic merchant">
  <img src="User::MERCHANT_PICS.sample" alt="Merchant profile picture" size="260x180">
</section>
</div>
