<h1>Merchant Profile</h1>

<section>
  <span>Name: <%= @user.name %></span>
  <span>Email: <%= @user.email %></span>
  <%= link_to "Edit Profile", edit_user_path(@user.id) %>
</section>

  <%= link_to "My Orders", user_order_items_path(@user.id) %>

  <%= link_to "My Products", user_products_path(@user.id) %>
