<h1>Merchant Profile</h1>

<section>
  <span>Name: <%= @user.name %></span>
  <span>Email: <%= @user.email %></span>
  <%= link_to "Edit Profile", edit_user_path(@user.id) %>
</section>

  <%= link_to "My Orders", edit_user_path(@user.id) %>
<section>
  <h3>Orders</h3>
    <span>Total Unshipped Orders: <%=  %></span>
    <span>Total Completed Orders: <%= %></span>
    <span>Total Cancelled Orders: <%= %></span>
</section>

<section>
  <h3>Revenue</h3>
    <span>Total Revenue (Unshipped): <%=  %></span>
    <span>Total Revenue (Completed): <%=  %></span>
    <span>Total Revenue: <%=  %></span>
</section>
