<section>
  <h3>Orders</h3>
    <p>Total Unshipped Orders:
      <%= @paid_items.count %>
      </p>
    <p>Total Completed Orders:
      <%= @complete_items.count %>
      </p>
    <p>Total Cancelled Orders:
      <%= @cancelled_items.count %></p>
</section>

<section>
  <h3>Revenue</h3>
    <p>Total Revenue (Unshipped): $
      <% if @paid_items == nil || @paid_items.length == 0 %>
        <%= 0 %>
      <% else %>
        <%= (@paid_items.map { |i| i.product.price * i.quantity }).sum %>
      <% end %></p>
    <p>Total Revenue (Completed): $
      <% if @complete_items == nil || @complete_items.length == 0 %>
        <%= 0 %>
      <% else %>
        <%= (@complete_items.map { |i| i.product.price * i.quantity }).sum %>
      <% end %></p>
    <p>Total Revenue: $
      <%= (@paid_items.map { |i| i.product.price * i.quantity }).sum + (@complete_items.map { |i| i.product.price * i.quantity }).sum %>
</section>
