<section>
  <h3>Orders</h3>
    <span>Total Unshipped Orders: <%= @paid_items.count %></span>
    <span>Total Completed Orders: <%= @complete_items.count %></span>
    <span>Total Cancelled Orders: <%= @cancelled_items %></span>
</section>

<section>
  <h3>Revenue</h3>
    <span>Total Revenue (Unshipped): <%=  %></span>
    <span>Total Revenue (Completed): <%=  %></span>
    <span>Total Revenue: <%=  %></span>
</section>
