<h1><%= @category.name %></h1>
<section>
  <ul class="frontpage">
    <% @category.products.each do |product| %>
      <li>
        <img src="<%= product.image %>" alt="fruit!">
        <%= link_to product.name, product_path(product.id) %>
        $<%= sprintf('%.2f', product.price) %>
        <%= product.description %>
      </li>
    <% end %>
  </ul>
</section>
