<h2 class="my-class"><%= page_title %></h2>
<% if @product.errors.any? %>
  <ul>
    <% @product.errors.each do |field, message| %>
      <li>
        <strong><%= field.capitalize %>: </strong><%= message %>
      </li>
    <% end %>
  </ul>
<% end %>
<%= form_for @product, url: @action do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :price %>
  <%= f.number_field(:price, min: 0, step: 0.01) %>

  <%= f.label "Image URL (default provided if needed)" %>
  <%= f.text_area :image, :value => 'http://www.asuntospublicos.org/upload/2017/12/21/the-gallery-for-simple-fruit-bowl-painting-fruit-bowl-paintings-l-d1f74fb586adeb14.jpg' %>

  <%= f.label 'Quantity'%>
  <%= f.number_field(:quantity, min: 0, step: 1) %>

  <div>
    <%= f.label :categories %>
    <%= collection_check_boxes(:product, :category_ids, Category.all, :id, :name) %>
    <%= link_to "Add New Category", new_category_path%>
  </div>

  <%= f.submit %>
<% end %>
