<% if @user.nil? %>
  <h1>FruEtsy Goodies</h1>
  <% products = @products.sample(12) %>
<% else %>
  <h1><%= @user.name %> Goodies</h1>
  <% products = @products %>
<% end %>

<section>
  <ul>
    <% products.each do |product|%>
    <li>
    <img class="thumbnail" src="<%= product.image %>" alt="fruit!">

    <%= link_to product.name, product_path(product[:id]) %>

    <%= product.price %>

    <%= product.description %>
    </li>

    <% end %>
  </ul>
</section>
