
<% if @user.nil? %>
  <h1>All FruEtsy Goodies</h1>
  <% products = @products %>
<% else %>
  <h1><%= @user.name %> Goodies</h1>
  <% products = @products %>
  <% if @user && @user.id == session[:user_id]%>
    <%= link_to "Add Product",  new_user_product_path(session[:user_id]), class: "button right" %>
  <% end %>
<% end %>

<section>
  <ul class="frontpage">
    <% products.each do |product|%>
    <li>
    <img class="thumbnail" src="<%= product.image %>" alt="fruit!">

    <%= link_to product.name, product_path(product[:id]) %>

    $<%= sprintf('%.2f', product.price) %>

    <section><%= product.description %></section>

    <% if @user && @user.id == session[:user_id]%>

      <section><%= link_to "Edit Product", edit_product_path(product.id), class: "button" %>
      <%= link_to 'Delete Product', product_path(product.id), method: :delete, class: "button" %></section>

    <% end %>
    </li>


    <% end %>
  </ul>
</section>

<section>
  <% if @user != nil %>
    <%= link_to "Back to Profile", user_path(@user.id), class: "button" %>
  <% end %>
</section>
