
<% if @user.nil? %>
  <h1>All FruEtsy Goodies</h1>
  <% products = @products %>
<% else %>
  <h1><%= @user.name %> Goodies</h1>
  <% products = @products %>
  <% if @user && @user.id == session[:user_id]%>
    <%= link_to "Add Product",  new_user_product_path(session[:user_id]), class: "button right" %>
  <% end %>
<% end %>

<section>
  <ul class="frontpage">
    <% products.each do |product|%>
    <li>
    <%= image_tag(product.image,  :alt => "fruit!", :class => "thumbnail") %>

    <span class='product-name'><%= link_to product.name.capitalize, product_path(product[:id]) %></span>

    <span class='product-price'>$<%= sprintf('%.2f', product.price) %></span>

    <section class='product-description'><%= product.description %></section>

    <% if @user && @user.id == session[:user_id]%>

      <section class='merchant-buttons'><%= link_to "Edit Product", edit_product_path(product.id), class: "button" %>
      <%= link_to 'Delete Product', product_path(product.id), method: :delete, class: "button" %></section>

    <% end %>
    </li>


    <% end %>
  </ul>
</section>

<section>
  <% if @user != nil && (session[:user_id] == params[:user_id].to_i) %>
    <%= link_to "Back to Profile", user_path(@user.id), class: "button" %>
  <% end %>
</section>
