<h2><%= @product.name %></h2>


<section>
<img src="<%= @product.image %>" alt="fruit!">
<span><%= @product.price %></span>
<span><%= @product.quantity %></span>
<span><%= @product.description %></span>
</section>

<section>

</section>
