<h1><%= @product.name %></h1>
<section class="product_show">

  <section class="product_show_item">

  
    <img class="thumbnail" src="<%= @product.image %>" alt="fruit!">

    <br>
    <div class='product-show'>
    <span class='product-price color'>Price: $<%= sprintf('%.2f', @product.price) %></span>
    <br>
    <span class='color'>Quantity Available: <%= @product.quantity %></span>
    <br>
    <span class='color'>Description: <%= @product.description %></span>
    <br>
    <span class='color'>
      Categories:
      <% @product.categories.each do |category| %>
        <span class='color'><%= category.name %>,</span>
      <% end %>
    </span>
   <br>

    <%= form_tag('/order', method: 'post') do %>
      <%= label_tag 'quantity' %>
      <%= number_field_tag 'quantity' %>
      <%= hidden_field_tag 'product_id', @product.id %>
      <%= submit_tag "Add to Basket", class: "button" %>
    <% end %>
  </section>
</div>

  <section class="product_show_item">
    <% if @product.user_id == session[:user_id] %>
      <p>You cannot review your own product</p>
    <% else %>
      <h3><%= link_to "Review #{@product.name}", new_product_review_path(@product.id) %></h3>
    <% end %>

    <% if @product.reviews.count > 0 %>
      <table>
        <thead>
          <tr>
            <th>Rating</th>
            <th>Review</th>
          </tr>
        </thead>
        <tbody>
          <% @product.reviews.each do |review| %>
          <tr>

            <td>
              <% review.rating.times do %>
                <img src="https://4.bp.blogspot.com/-xMWFXKu-oRE/WThKE4gVoWI/AAAAAAAACg4/1V6fMZoa6jk0WbFholbMH3PlYg8wSAxGQCLcB/s1600/banana-fruit-icons_www.fruitsname.com_256x256-3.png" alt="fruit rating" width=55 >
              <% end %>
            </td>
            <td><%= review.text_review %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>There are no reviews.</p>
    <% end %>
  </section>

</section>
