<h2><%= @product.name %></h2>
<section class="product_show">

  <section class="product_show_item">
    <img src="<%= @product.image %>" alt="fruit!">
    <br>
    <span>Price: $<%= sprintf('%.2f', @product.price) %></span>
    <br>
    <span>Quantity Available: <%= @product.quantity %></span>
    <br>
    <span>Description: <%= @product.description %></span>
    <br>
    <span>Categories: <% @product.categories.each do |category| %>
      <%= category.name %>
   <% end %></span>
   <br>

    <%= form_tag('/order', method: 'post') do %>
      <%= label_tag 'quantity' %>
      <%= number_field_tag 'quantity' %>
      <%= hidden_field_tag 'product_id', @product.id %>
      <%= submit_tag "Add to Order", class: "button" %>
    <% end %>
  </section>

  <section class="product_show_item">
    <!-- <h3>Reviews</h3> -->
    <% if @product.user_id == session[:user_id] %>
      <p>You cannot review your own product</p>
    <% elsif @product.reviews.count > 0 %>
      <h3><%= link_to "Review #{@product.name}", new_product_review_path(@product.id) %></h3>
      <table>
        <thead>
          <tr>
            <th>Rating</th>
            <th>Review</th>
          </tr>
        </thead>
        <tbody>
          <% @product.reviews.each do |review| %>
          <tr>
            <td><%= review.rating %></td>
            <td><%= review.text_review %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h3><%= link_to "Review #{@product.name}", new_product_review_path(@product.id) %></h3>
      <p>There are no reviews. Please add one!</p>
    <% end %>


  </section>
</section>
