<h2><%= @product.name %></h2>

<section>
  <img src="<%= @product.image %>" alt="fruit!">
  <br>
  <span>Price: <%= @product.price %></span>
  <br>
  <span>Quantity: <%= @product.quantity %></span>
  <br>
  <span>Description: <%= @product.description %></span>
</section>

<!-- FORM FOR ADDING PRODUCT TO CART -->
