<section class='review-form'>
<%= form_for @review, url: {action: "create"}  do |f| %>
  <%= f.label :rating, :class => "label color" %>
  <%= f.select :rating, 1..5, :prompt => "Select One" %>

  <%= f.label :text_review, :class => "label color" %>
  <%= f.text_field :text_review %>

  <%= f.submit :class => "button" %>
<% end %>
</section>
