<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "FruEtsy" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <h1>Welcome to FruEtsy</h1>
    <p class='tagline'>for all your syrup-less fruit salad needs</p>
    <nav>
      <%= link_to "FruEtsy", root_path, class: "button large" %>
      <% if session[:user_id] != 1 %>

      <%= link_to "Logout #{User.find_by(id: session[:user_id]).name}", logout_path, method: :delete, class: "button right" %>
      <%= link_to "My Profile",  user_path(session[:user_id]), class: "button right" %>


      <% else %>
      <%= link_to "user Login ", github_login_path, class: "button right" %>
      <% end %>
      <%= link_to "Order", order_path, class: "button" %>

      <ul class="dropdown menu" data-dropdown-menu >

        <li>
          <%= link_to "All Produce", products_path, class: "button"  %>
        </li>
        <li class="button" >
          <%= "All Categories" %>
          <ul class="vertical menu nested">
            <% Category.all.each do |category| %>
            <li><%= link_to category.name, category_path(category[:id]) %></li>
            <% end %>
          </ul>
        </li>
        <li class="button" > <%= "All Merchants"%>
          <ul class="vertical menu nested">
            <% User.all.each do |user| %>
            <% if !user.uid.nil? %>
            <li><%= link_to user.name, user_products_path(user[:id]) %></li>
            <% end %>
            <% end %>
          </ul>
        </li>
      </ul>

    </nav>
  </header>
  <main>

    <% if flash[:result_text] or flash[:messages] %>
    <section class="callout <%= flash[:status] %>">
      <p><%= flash[:status] == :failure ? "A problem occurred: " : "" %><%= flash[:result_text] %></>
      <% if flash[:messages] %>
      <ul>
        <% flash[:messages].each do |name, problems| %>
          <li><%= name %>: <%= problems %></li>
        <% end %>
      </ul>
      <% end %>
    </section>
    <% end %>

    <%= yield %>
  </main>

  <footer>
    <p> © Bunch of Banadies </p>
  </footer>
</body>
</html>
