<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "FruEtsy" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <header>
      <h1>Welcome to FruEtsy</h1>
      <p class='tagline'>for all your syrup-less fruit salad needs</p>
      <nav>
        <%= link_to "FruEtsy", root_path, class: "button large" %>
        <% if session[:user_id] %>
          <%= link_to "Logout", logout_path, method: :delete %>
        <% else %>
            <%= link_to "user Login", github_login_path, class: "button right" %>
        <% end %>

        <%= link_to "All Produce", products_path, class: "button right" %>
        <%= link_to "All Categories", categories_path, class: "button right" %>
        <%= link_to "All users", users_path, class: "button right" %>

      </nav>
    </header>
    <main>

      <section class="flash">
        <% flash.each do |name, message| %>
            <p>
              <%= message %>
            </p>
        <% end %>
      </section>


      <%= yield %>
    </main>
  </body>
</html>
