<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "FruEtsy" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <header>
      <h1>Welcome to FruEtsy</h1>
      <p class='tagline'>for all your syrup-less fruit salad needs</p>
      <nav>
        <%= link_to "FruEtsy", root_path, class: "button large" %>
        <% if session[:user_id] %>
          <%= link_to "Logout", logout_path, method: :delete, class: "button" %>
        <% else %>
            <%= link_to "user Login", github_login_path, class: "button" %>
        <% end %>

        <ul class="dropdown menu" data-dropdown-menu >
          <li>
            <p class="button"> Browse</p>
            <ul>
              <li>
                <%= link_to "All Produce", products_path %>
                <ul class="vertical menu nested">
                  <% Product.all.each do |product| %>
                    <li><%= link_to product.name, product_path(product[:id]) %></li>
                  <% end %>
                </ul>
              </li>
              <li>
                <%= link_to "All Categories", categories_path %>
                <ul class="vertical menu nested">
                  <% Category.all.each do |category| %>
                    <li><%= link_to category.name, category_path(category[:id]) %></li>
                  <% end %>
                </ul>
              </li>
              <li> <%= link_to "Merchants", users_path %> </li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <main>

      <section class="flash">
        <% flash.each do |name, message| %>
            <p>
              <%= message %>
            </p>
        <% end %>
      </section>


      <%= yield %>
    </main>
  </body>
</html>
