<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "FruEtsy" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
</head>

<body>
  <header>
    <h1>Welcome to FruEtsy</h1>
    <p class='tagline'>for all your syrup-less fruit salad needs</p>
    <nav>




      <ul class="dropdown menu" data-dropdown-menu>
        <li><%= link_to "FruEtsy", root_path, class: "button" %></li>
        <li><%= link_to "Order", order_path, class: "button" %></li>
        <li>
          <%= link_to "All Produce", products_path, class: "button"  %>
        </li>
        <li class="button" >
          <%= "All Categories" %>
          <ul class="vertical menu nested">
            <% Category.all.each do |category| %>
            <li><%= link_to category.name, category_path(category[:id]) %></li>
            <% end %>
          </ul>
        </li>
        <li class="button" > <%= "All Merchants"%>
          <ul class="vertical menu nested">
            <% User.all.each do |user| %>
            <% if !user.uid.nil? %>
            <li><%= link_to user.name, user_products_path(user[:id]) %></li>
            <% end %>
            <% end %>
          </ul>
        </li>

      <% if session[:user_id] != nil && session[:user_id] != 1 %>

        <li><%= link_to "My Profile",  user_path(session[:user_id]), class: "button right" %></li>
        <li><%= link_to "Logout", logout_path, method: :delete, class: "button right" %></li>
        <% else %>
        <li><%= link_to "user Login ", github_login_path, class: "button right" %></li>
        <% end %>
      </li>
    </ul>

  </nav>
</header>
<main>

  <% if flash[:result_text] or flash[:messages] %>
  <section class="callout <%= flash[:status] %>">
    <p><%= flash[:status] == :failure ? "A problem occurred: " : "" %><%= flash[:result_text] %></>
      <% if flash[:messages] %>
      <ul>
        <% flash[:messages].each do |name, problems| %>
        <% problems.each do |problem| %>
        <li><%= name %>: <%= problem %></li>
        <% end %>
        <% end %>
      </ul>
      <% end %>
    </section>
    <% end %>

    <%= yield %>
  </main>

  <footer>
    <p> © Bunch of Banadies </p>
  </footer>
</body>
</html>
